@using Microsoft.AspNetCore.Identity;
@using Asp.NetCore_Identity_Auth.Models
@inject SignInManager<login> signInManager;


@if (signInManager.IsSignedIn(User))
{
    <a asp-controller="Account" asp-action="logout">Logout</a>
}
else
{
    <a asp-controller="Account" asp-action="login">Login</a>
    <a asp-controller="Account" asp-action="Register">Register</a>
}