@model ChangePasswordViewModel
@{
    Layout = "~/Views/Shared/_Account.cshtml";
}


<form asp-controller="Account" asp-action="Trying_ChangePassword" method="post">

    <label asp-for="Email"></label><br>
    <input asp-for="Email" /><br>

    <label asp-for="NewPassword"></label><br>
    <input asp-for="NewPassword" /><br>

    <label asp-for="ConfirmNewPassword"></label><br>
    <input asp-for="ConfirmNewPassword" /><br>

    <input type="submit" value="ChangePassword" />
   

</form>