@model LoginViewModel;
@{
    Layout = "~/Views/Shared/_Account.cshtml";
}
<h1>Login</h1>

<form asp-controller="Account" asp-action="Trying_Login" method="post">

    <div asp-validation-summary="All"></div>

    <label asp-for="Email"></label><br>
    <input asp-for="Email" /><br>
    <span asp-validation-for="Email" ></span><br>

    <label asp-for="Password"></label><br>
    <input asp-for="Password" /><br>
    <span asp-validation-for="Password"></span><br>

    <a asp-controller="Account" asp-action="VerifyEmail">Forget password?</a><br><br>

    <input asp-for="RememberMe"/>
    @Html.DisplayNameFor(remember => remember.RememberMe)<br><br>

    <input type="submit" value="login" /><br>

    <p>Wala kabang Acc? register na</p><br>
    <a asp-controller="Account" asp-action="Register">Register</a><br>


    <a asp-controller="Account" asp-action="ChangePassword">ChangePassword</a>

 



</form>